@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');

* {

    margin: 0;
    padding: 0;
    outline: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;
    background: #343541ff;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f16b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.chatbot-container {
    width: 480px;
    height: auto;
    display: block;
    margin: auto;
}

.chatbot-messages {
    height: 500px;
    color: #f0f0f0;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    overflow-y: scroll;
    margin-bottom: 20px;

}

.chatbot-title {
    text-align: center;
    color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 30px;
}

input {
    width: 400px;
    height: 31px;
    border: 0;
    border-radius: .5em;
    background: #40414fff;
    padding-left: 10px;
    margin-bottom: 10px;
}

button {
    width: 70px;
    height: 31px;
    border: 0;
    background: #40414fff;
    border-radius: .5em;
    margin-left: -10px;
    
}

.material-symbols-outlined {
    overflow-y: hidden;
    color:white;
    margin-bottom: -10px;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 1,
        'opsz' 28
}

@media screen and (max-width: 440px) {
    .chatbot-container {
        width: 300px;
    }

    input {
        width: 229px;
    }
}