@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;

    overflow-x: hidden;
}

body {
    background: #202124ff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #40414fff;
    opacity: .8;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.banner {
    display: grid;
    width: 500px;
    height: auto;
    padding: 17px 13px;
    margin: auto;
    background: rgb(26, 230, 111);
    text-align: center;
    border-radius: 0.5em;
    font-weight: 300;
    place-items: center;
    opacity: .8;
}

.banner h3 {
    font-weight: 300;
}

.banner p {
    font-size: 12px;
    padding: 5px;
    width: 80%;
    text-align: center;
    display: block;
}

#title {
    text-align: center;
    color: rgb(26, 230, 111);
    padding: 25px;
}

.chatMessage {
    width: 525px;
    height: 435px;
    display: block;
    margin: 20px auto;
    overflow-y: scroll;
    border-radius: .5em;
}

#input {
    margin: auto;
    display: block;
    width: 525px;
    height: 30px;
    border-radius: .5em;
    background: #343541ff;
    border: none;
}

#input::placeholder {
    text-transform: uppercase;
    text-align: center;
}

@media(min-width: 768px) {
    .banner,.chatMessage,#input {
        width: 700px;
    }
}