@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');

* {

    margin: 0;
    padding: 0;
    outline: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;
    background: #c5c9e7;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f16b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.chatbot-container {
    width: 690px;
    height: auto;
    display: block;
    margin: auto;
}
.chatbot-header img{
 width: 30px;
}
.chatbot-messages {
    height: 500px;
    /* color: #f0f0f0; */
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.bot-message{
    padding-top: 7px;
}
.user-message{
    padding-top: 7px;
    text-transform: capitalize;
}
.chatbot-title {
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.chatbot-title span{
    color: #682cec;
}

input {
    width: 590px;
    height: 44px;
    border: 0;
    border-radius: 1.5em;
    background: #682cec;
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
}
input::placeholder{
    color: whitesmoke;
    letter-spacing: 1px;
    opacity: .5;
    text-align: center;
}
input:focus{
    border: 2px solid #682cec;
}

button {
    width: 70px;
    height: 44px;
    border: 0;
    background: #682cec;
    border-radius: 1.5em;
    margin-left: -32px;
    
}

.material-symbols-outlined {
    overflow-y: hidden;
    color:white;
    margin-bottom: -10px;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 1,
        'opsz' 28
}

@media screen and (max-width: 440px) {
    .chatbot-container {
        width: 300px;
    }

    input {
        width: 229px;
    }
}